body {
  background-color: #f9faf5;
  font-family: Avenirnext, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 1em;
}

h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  color: hsla(236.25, 80.00%, 68.63%, 1.00);
  font-size: 68px;
  line-height: 1em;
  font-weight: 700;
}

.fixed-wrap {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: -1;
  height: 100vh;
  box-shadow: inset 0 0 0 10px hsla(236.25, 80.00%, 68.63%, 1.00);
}

.logo-wrap {
  display: inline-block;
}

.logo {
  width: 150px;
}

.nav {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  padding-top: 30px;
  padding-right: 35px;
  padding-left: 35px;
  background-color: hsla(0, 0%, 87%, 0);
}

.nav-menu {
  display: none;
}

.nav-link {
  margin-left: 30px;
  padding: 0px;
  color: hsla(236.25, 80.00%, 68.63%, 1.00);
  font-size: 18px;
}

.nav-link.cta {
  font-size: 20px;
  font-weight: 700;
}

._100vh {
  height: 100vh;
}

._100vh.landing {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.landing-50 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.landing-wrap {
  width: 350px;
  height: 350px;
}

.landing-wrap.left {
  position: relative;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: 0%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
  margin-left: 30%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.landing-wrap.right {
  margin-right: 45%;
  margin-left: auto;
}

.scribble {
  position: absolute;
  z-index: -1;
  width: 80%;
  height: 100%;
}

.white-txt {
  color: #fff;
}

.landing-left-txt {
  width: 85%;
  margin-top: 0px;
  margin-bottom: 0px;
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
  color: #fff;
  text-align: left;
}

.button {
  padding: 14px 22px 13px;
  border-radius: 6px;
  background-color: hsla(236.25, 80.00%, 68.63%, 1.00);
  font-size: 20px;
  font-weight: 700;
}

.button.landing-button {
  margin-top: 20px;
}

.landing-shadow {
  width: 80%;
  margin-top: 35px;
  margin-left: -57px;
  opacity: 0.7;
}

@media (max-width: 991px) {
  .landing-50 {
    position: absolute;
    width: 100vw;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .landing-wrap.left {
    margin-right: auto;
    margin-left: auto;
  }
  .landing-wrap.right {
    margin-right: auto;
    margin-left: auto;
  }
  .icon {
    display: none;
  }
}

@media (max-width: 479px) {
  h1 {
    font-size: 58px;
  }
  .fixed-wrap {
    height: 88vh;
  }
  .logo {
    position: absolute;
    left: 0%;
    top: auto;
    right: 0%;
    bottom: 0%;
    margin-right: auto;
    margin-left: auto;
  }
  ._100vh.landing {
    height: 88vh;
  }
  .landing-wrap {
    width: auto;
    height: auto;
    max-height: 325px;
    max-width: 325px;
    padding-right: 20px;
    padding-left: 20px;
  }
  .landing-wrap.left {
    min-height: 325px;
  }
  .landing-wrap.right {
    padding-top: 30px;
  }
  .landing-shadow {
    margin-left: -35px;
  }
}

@font-face {
  font-family: 'Avenirnext';
  src: url('../fonts/AvenirNext-MediumItalic-07.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'Avenirnext';
  src: url('../fonts/AvenirNext-DemiBoldItalic-04.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: 'Avenirnext';
  src: url('../fonts/AvenirNext-DemiBold-03.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Avenirnext';
  src: url('../fonts/AvenirNext-Italic-05.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Avenirnext';
  src: url('../fonts/AvenirNext-Regular-08.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Avenirnext';
  src: url('../fonts/AvenirNext-Bold-01.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Avenirnext';
  src: url('../fonts/AvenirNext-Medium-06.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}